<h3>Salut ! Veuillez confirmer votre adresse e-mail !</h3>

<p>
    Merci de confirmer votre adresse e-mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon e-mail</a>.
    Attention : ce lien expirera {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.<br>
</p>

<p>
    Cordialement,
</p>
<p>
    {{ site_name_full }}
</p>